<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SockMedia</title>
  </head>
  <body>
  	<h1>Welcome to Sock Media, please login</h1>
  	<form action = "/login" method = "POST">
  		<input type = "text" placeholder = "username" name = "username">
  		<input type = "password" placeholder = "password" name = "password">
  		<button>Submit</button>
  	</form>
  </body>
</html>